
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
* {
  margin: 0px;
  padding: 0px;
  overflow-x:unset;
} 
body {
  overflow-x: hidden
  }

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494 !important;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}


.container{
  display: 'grid',;
  grid-template-columns: 'auto auto auto';
  justify-content: 'space-around',;
  overflow:'hidden';
}

@media only screen and (max-width: 600px) {
  main {
    overflow-x: hidden;
    grid-template-columns: 'auto auto';

  }
  .container{
    display: 'grid',;
    grid-template-columns: 'auto auto';
    justify-content: 'space-around',;
    overflow:'hidden';
  }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
